body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    top:50%;
    background: linear-gradient(
        to right, 
        red, 
        yellow );
}

h2, h3 {
    text-transform: none;
}